body{
     background-color: #CEE1F3;
}

/* Style de la navigation */
.navbar {
    height: 70px;
   color: #cee1f3;
   background-color: #1B263B;
}

.custom-links {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 0;
    margin: 0;
    font-size: 25px;
    color: #cee1f3;
}

.custom-links .nav-link {
    color: #d3be49;
}

.custom-links .nav-link:hover {
    color: #cee1f3;
}

/* Style du texte de présentation */
.presentation-text h1 {
    color: #d3be49;
}

.presentation-text p {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.presentation {
    height: 100vh;
    background-image: url(./images/fond/fond4.jpeg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    font-size: 20px;
}

.presentation-text {
    background-color: rgba(206, 225, 243, 0.5);
    backdrop-filter: blur(8px);
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 1);
    width: 70%;
    padding: 20px;
}

/* Style de la partie boutons */
.row {
    display: flex; 
    justify-content: center;
    gap: 50px;
    margin: 80px 40px;
    flex-wrap: wrap;
    max-width: 100%;
}

.col-article {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 7px 7px 20px #CED4DA;
    max-width: 80%;
}

.col-article p {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: black;
}

.col-article a {
    text-decoration: none;
    background-color: #d3be49;
    /* color: #F8F9FA; */
    border: none;
    padding: 10px 20px; 
    border-radius: 25px;
    font-size: 1rem;
}

/* Style du footer */
footer {
    background-color: #1B263B;
    position: static;
    width: 100%;
    padding: 10px 0;
}

footer h3 {
    color: #d3be49;
    font-size: 20px;
    text-align: end;
    margin-right: 10px;
}